main {
  margin-top: 110px;
}

.section_pizzeria {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
}
.forms {
  margin: 20px;
  padding: 10px;
  background-color: #f1f1f1;
  box-shadow: 1px 2px 10px black;
}
.icon_pizzeria {
  width: 200px;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.icon_1 {
  background: url("../images/pizzeria/epidor.png") center/cover no-repeat;
}
.icon_2 {
  background: url("../images/pizzeria/potiwa_pizza.png") center/cover no-repeat;
}
.icon_3 {
  background: url("../images/pizzeria/dominos-pizza-logo-vector-1.svg")
    center/cover no-repeat;
}
.icon_4 {
  background: url("../images/pizzeria/pizza_garden.png") center/cover no-repeat;
}
.icon_5 {
  background: url("../images/pizzeria/pzz-1.png") center/cover no-repeat;
}
.icon_6 {
  background: url("../images/pizzeria/dolce_pizza.png") center/cover no-repeat;
}

.img_pizzeria {
  display: flex;
  justify-content: center;
}
.same_image img {
  margin-top: 5px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.pizzeria_title {
  background: url("../images/h1_bg.jpg") center/cover no-repeat;
  width: 300px;
  text-align: center;
  margin: auto;
}

.icon_star {
  display: flex;
  justify-content: center;
  padding: 2px;
}

.pizza_social {
  text-align: center;
}
.pizza_social a {
  border-radius: 0;
}

.icon_star img {
  width: 20px;
}

.forms {
  width: 450px;
}

.forms {
  transition: all 0.4s ease-out;
}

.forms:hover {
  transform: scale(1.1);
  transition: all 0.4s ease-in;
}
@media screen and (max-width: 480px) {
  .icon_star img {
    width: 10px;
  }
  .same_image img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  .forms {
    width: 55%;
  }
  .section_pizzeria,
  .pizzeria_title {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .section_pizzeria {
    flex-direction: column;
    margin-left: 20%;
    margin-right: 10%;
    margin-top: 10px;
  }
}
